@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid silver;
  }
  .gallery img.img-gallery{
    width: 40%;
    height: 100%; 
    margin: 10px 0; 
  }
  
  input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
  
  .label {
    width: 120px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    height: 80%;
  }
  .label i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px;
  }
  .label i,
  .label .title {
    color: grey;
    transition: 200ms color;
  }
  .label:hover {
    border: 2px solid black;
  }
  .label:hover i,
  .label:hover .title {
    color: black;
  }
  